Repository Washi1337/AsmResolver, pull requests merged in 2021-12, with the labels that each got.

#228 Feature/Add .NET 6 to KnownCorLibs
  src/AsmResolver.DotNet/KnownCorLibs.cs
Labels: enhancement, dotnet

#229 Feature/index of blob
  src/AsmResolver.PE/DotNet/Metadata/Blob/BlobStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Blob/SerializedBlobStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Guid/GuidStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Guid/SerializedGuidStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Strings/SerializedStringsStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Strings/StringsStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Tables/SerializedTableStream.cs
  src/AsmResolver.PE/DotNet/Metadata/Tables/TableIndex.cs
  src/AsmResolver.PE/DotNet/Metadata/UserStrings/SerializedUserStringsStream.cs
  src/AsmResolver.PE/DotNet/Metadata/UserStrings/UserStringsStream.cs
  test/AsmResolver.PE.Tests/DotNet/Metadata/BlobStreamTest.cs
  test/AsmResolver.PE.Tests/DotNet/Metadata/GuidStreamTest.cs
  test/AsmResolver.PE.Tests/DotNet/Metadata/StringStreamTest.cs
  test/AsmResolver.PE.Tests/DotNet/Metadata/UserStringsStreamTest.cs
Labels: enhancement, pe

#231 Feature/ Add Documentation for CilOpCodes
  src/AsmResolver.PE/DotNet/Cil/CilCode.cs
  src/AsmResolver.PE/DotNet/Cil/CilOpCodes.cs
Labels: enhancement, pe

#238 Fix/ AssemblyDefinition Write to relative path
  src/AsmResolver.DotNet/AssemblyDefinition.cs
Labels: bug, dotnet

#242 Feature/GAC Directory Priorities
  src/AsmResolver.DotNet/AssemblyDefinition.cs
  src/AsmResolver.DotNet/DotNetFrameworkAssemblyResolver.cs
  test/AsmResolver.DotNet.Tests/AssemblyResolverTest.cs
Labels: bug, dotnet

#243 Issue/hidebysig resolution
  AsmResolver.sln
  src/AsmResolver.DotNet/DefaultMetadataResolver.cs
  test/AsmResolver.DotNet.Tests/AsmResolver.DotNet.Tests.csproj
  test/AsmResolver.DotNet.Tests/MetadataResolverTest.cs
  test/TestBinaries/DotNet/ClassLibraryVB/Class1.vb
  test/TestBinaries/DotNet/ClassLibraryVB/ClassLibraryVB.vbproj
  test/TestBinaries/DotNet/HelloWorld/HelloWorld.csproj
  test/TestBinaries/DotNet/HelloWorldVB/HelloWorldVB.vbproj
  test/TestBinaries/DotNet/HelloWorldVB/Program.vb
Labels: bug, dotnet
