Repository Washi1337/AsmResolver, pull requests merged in 2021-11, with the labels that each got.

#217 Fixed FieldDefinition.IsAccessibleFromType
  src/AsmResolver.DotNet/FieldDefinition.cs
Labels: bug, dotnet

#218 Feature TLS directory
  AsmResolver.sln
  docs/index.rst
  docs/peimage/tls.rst
  src/AsmResolver.PE/IPEImage.cs
  src/AsmResolver.PE/PEImage.cs
  src/AsmResolver.PE/SerializedPEImage.cs
  src/AsmResolver.PE/Tls/ITlsDirectory.cs
  src/AsmResolver.PE/Tls/SerializedTlsDirectory.cs
  src/AsmResolver.PE/Tls/TlsCallbackCollection.cs
  src/AsmResolver.PE/Tls/TlsCharacteristics.cs
  src/AsmResolver.PE/Tls/TlsDirectory.cs
  src/AsmResolver.PE/Win32Resources/Builder/ResourceTableBuffer.cs
  src/AsmResolver/IO/IBinaryStreamWriter.cs
  src/AsmResolver/ISegment.cs
  src/AsmResolver/IWritable.cs
  src/AsmResolver/SegmentBase.cs
  test/AsmResolver.PE.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.PE.Tests/Properties/Resources.resx
  test/AsmResolver.PE.Tests/Resources/TlsTest.x64.exe
  test/AsmResolver.PE.Tests/Resources/TlsTest.x86.exe
  test/AsmResolver.PE.Tests/Tls/TlsDirectoryTest.cs
  test/TestBinaries/Native/TlsTest/TlsTest.cpp
  test/TestBinaries/Native/TlsTest/TlsTest.vcxproj
  test/TestBinaries/Native/TlsTest/TlsTest.vcxproj.filters
Labels: enhancement, pe

#220 Win32 Resources QoL Improvements
  docs/peimage/win32resources.rst
  src/AsmResolver.PE.Win32Resources/Icon/IconResource.cs
  src/AsmResolver.PE.Win32Resources/ResourceDirectoryHelper.cs
  src/AsmResolver.PE.Win32Resources/Version/VersionInfoResource.cs
  src/AsmResolver.PE/Win32Resources/IResourceDirectory.cs
  src/AsmResolver.PE/Win32Resources/ResourceDirectory.cs
  test/AsmResolver.PE.Tests/Win32Resources/ResourceDirectoryTest.cs
Labels: enhancement, pe, win32resources

#225 Fix: Throw on generic context GetTypeArgument + Add: GenericContext From methods
  src/AsmResolver.DotNet/Signatures/GenericContext.cs
  test/AsmResolver.DotNet.Tests/Signatures/GenericContextTest.cs
Labels: enhancement, dotnet
