Repository Washi1337/AsmResolver, pull requests merged in 2022-03, with the labels that each got.

#253 Preserve duplicate metadata members when required
  src/AsmResolver.DotNet/Builder/DotNetDirectoryBuffer.TokenProvider.cs
  src/AsmResolver.DotNet/Builder/DotNetDirectoryFactory.cs
  src/AsmResolver.DotNet/Builder/Metadata/Tables/DistinctMetadataTableBuffer.cs
  src/AsmResolver.DotNet/Builder/Metadata/Tables/TablesStreamBuffer.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenPreservation/AssemblyRefTokenPreservationTest.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenPreservation/MemberRefTokenPreservationTest.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenPreservation/TokenPreservationTestBase.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenPreservation/TypeRefTokenPreservationTest.cs
  test/AsmResolver.DotNet.Tests/TokenAllocatorTest.cs
Labels: bug, dotnet

#248 [Workspaces] Bug fixes
  src/AsmResolver.Workspaces.DotNet/Analyzers/AnalyzerUtilities.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Definition/MethodAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/AssemblyReferenceAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/ExportedTypeAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/MemberReferenceAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/MethodSpecificationAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/TypeReferenceAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/Analyzers/Reference/TypeSpecificationAnalyzer.cs
  src/AsmResolver.Workspaces.DotNet/DotNetRelations.cs
  test/AsmResolver.Workspaces.DotNet.Tests/ReferenceRelationTest.cs
Labels: bug, enhancement, dotnet, workspaces

#259 CilInstruction.ReplaceWith
  docs/dotnet/managed-method-bodies.rst
  src/AsmResolver.PE/DotNet/Cil/CilInstruction.cs
  test/AsmResolver.PE.Tests/DotNet/Cil/CilInstructionTest.cs
Labels: enhancement, dotnet

#258 Feature/Dependabot
  .github/dependabot.yml
  src/AsmResolver.DotNet/AsmResolver.DotNet.csproj
  test/AsmResolver.Benchmarks/AsmResolver.Benchmarks.csproj
  test/AsmResolver.DotNet.Tests/AsmResolver.DotNet.Tests.csproj
  test/AsmResolver.PE.File.Tests/AsmResolver.PE.File.Tests.csproj
  test/AsmResolver.PE.Tests/AsmResolver.PE.Tests.csproj
  test/AsmResolver.PE.Win32Resources.Tests/AsmResolver.PE.Win32Resources.Tests.csproj
  test/AsmResolver.Tests/AsmResolver.Tests.csproj
  test/TestBinaries/DotNet/AsmResolver.DotNet.TestCases.Resources/AsmResolver.DotNet.TestCases.Resources.csproj
  test/TestBinaries/DotNet/HelloWorld/HelloWorld.csproj
  test/TestBinaries/DotNet/TheAnswer/TheAnswer.csproj
Labels: enhancement

#261 CilAssembler diagnostics performance regression
  src/AsmResolver.DotNet/Code/Cil/CilLabelVerifier.cs
  src/AsmResolver.DotNet/Code/Cil/CilMethodBodySerializer.cs
  src/AsmResolver.DotNet/SafeExtensions.cs
  src/AsmResolver.PE/DotNet/Cil/CilAssembler.cs
  test/AsmResolver.Benchmarks/LargeMethodBodiesBenchmark.cs
  test/AsmResolver.Benchmarks/ModuleReadWriteBenchmark.cs
  test/AsmResolver.Benchmarks/PEFileReadWriteBenchmark.cs
  test/AsmResolver.Benchmarks/PEImageReadWriteBenchmark.cs
  test/AsmResolver.Benchmarks/PEReadWriteBenchmark.cs
  test/AsmResolver.Benchmarks/Properties/Resources.Designer.cs
  test/AsmResolver.Benchmarks/Properties/Resources.resx
  test/AsmResolver.Benchmarks/Resources/HelloWorld.ManyMethods.deflate
  test/AsmResolver.Benchmarks/Utilities.cs
Labels: dotnet, performance

#264 Bugfix: Reuse assembly reference instances when available
  src/AsmResolver.DotNet/KnownCorLibs.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/Signatures/Types/Parsing/TypeNameLexer.cs
  src/AsmResolver.DotNet/Signatures/Types/Parsing/TypeNameParser.cs
  test/AsmResolver.DotNet.Tests/ModuleDefinitionTest.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.resx
  test/AsmResolver.DotNet.Tests/Resources/HelloWorld.WithAttribute.dll
  test/AsmResolver.DotNet.Tests/Signatures/TypeNameParserTest.cs
  test/AsmResolver.DotNet.Tests/TypeDefinitionTest.cs
  test/AsmResolver.DotNet.Tests/TypeReferenceTest.cs
  test/TestBinaries/DotNet/HelloWorld/Program.cs
Labels: bug, dotnet

#265 Feature/Minor Performance Improvement
  src/AsmResolver.DotNet/Code/Cil/StackImbalanceException.cs
  src/AsmResolver.DotNet/Memory/TypeMemoryLayoutDetector.cs
  src/AsmResolver.DotNet/Signatures/MemberSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignature.cs
  src/AsmResolver.DotNet/Signatures/PropertySignature.cs
  src/AsmResolver.DotNet/Signatures/Security/SecurityAttribute.cs
Labels: dotnet, performance

#270 Use ConcurrentDictionary as backing cache for DefaultMetadataResolver
  src/AsmResolver.DotNet/DefaultMetadataResolver.cs
Labels: bug, dotnet

#275 Import TypeDefinition scopes
  src/AsmResolver.DotNet/ReferenceImporter.cs
  test/AsmResolver.DotNet.Tests/ReferenceImporterTest.cs
Labels: bug, dotnet

#274 Thorough type sig imported check
  src/AsmResolver.DotNet/AssemblyDefinition.cs
  src/AsmResolver.DotNet/AssemblyDescriptor.cs
  src/AsmResolver.DotNet/AssemblyReference.cs
  src/AsmResolver.DotNet/EventDefinition.cs
  src/AsmResolver.DotNet/ExportedType.cs
  src/AsmResolver.DotNet/FieldDefinition.cs
  src/AsmResolver.DotNet/FileReference.cs
  src/AsmResolver.DotNet/IImplementation.cs
  src/AsmResolver.DotNet/IImportable.cs
  src/AsmResolver.DotNet/IMemberDescriptor.cs
  src/AsmResolver.DotNet/IResolutionScope.cs
  src/AsmResolver.DotNet/InvalidTypeDefOrRef.cs
  src/AsmResolver.DotNet/MemberReference.cs
  src/AsmResolver.DotNet/MethodDefinition.cs
  src/AsmResolver.DotNet/MethodSpecification.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/ModuleReference.cs
  src/AsmResolver.DotNet/PropertyDefinition.cs
  src/AsmResolver.DotNet/ReferenceImporter.cs
  src/AsmResolver.DotNet/ReflectionAssemblyDescriptor.cs
  src/AsmResolver.DotNet/Signatures/CallingConventionSignature.cs
  src/AsmResolver.DotNet/Signatures/GenericInstanceMethodSignature.cs
  src/AsmResolver.DotNet/Signatures/LocalVariablesSignature.cs
  src/AsmResolver.DotNet/Signatures/MemberSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignatureBase.cs
  src/AsmResolver.DotNet/Signatures/SignatureComparer.TypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/CorLibTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/CustomModifierTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/FunctionPointerTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/GenericInstanceTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/GenericParameterSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/SentinelTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/TypeDefOrRefSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/TypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/TypeSpecificationSignature.cs
  src/AsmResolver.DotNet/TypeDefinition.cs
  src/AsmResolver.DotNet/TypeReference.cs
  src/AsmResolver.DotNet/TypeSpecification.cs
  test/AsmResolver.DotNet.Tests/ReferenceImporterTest.cs
Labels: bug, dotnet

#278 Use actual types for private readonly fields
  src/AsmResolver.DotNet/Builder/Metadata/Blob/BlobStreamBuffer.cs
  src/AsmResolver.DotNet/Builder/Metadata/Guid/GuidStreamBuffer.cs
  src/AsmResolver.DotNet/Builder/Metadata/UserStrings/UserStringsStreamBuffer.cs
  src/AsmResolver.DotNet/Builder/Resources/DotNetResourcesDirectoryBuffer.cs
  src/AsmResolver.DotNet/Collections/ParameterCollection.cs
  src/AsmResolver.DotNet/DefaultMetadataResolver.cs
  src/AsmResolver.PE.File/SerializedPEFile.cs
  src/AsmResolver.PE.Win32Resources/Icon/IconResource.cs
  src/AsmResolver.PE.Win32Resources/Version/StringTable.cs
  src/AsmResolver.PE.Win32Resources/Version/VersionInfoResource.cs
  src/AsmResolver.PE/DotNet/Metadata/Tables/TablesStream.cs
Labels: enhancement, dotnet

#280 [Feature]: Redirect System.Object base type when member cloning
  src/AsmResolver.DotNet/Cloning/CloneContextAwareReferenceImporter.cs
Labels: enhancement, dotnet

#283 [Feature]: Custom ReferenceImporter in MemberCloner
  src/AsmResolver.DotNet/Cloning/CloneContextAwareReferenceImporter.cs
  src/AsmResolver.DotNet/Cloning/MemberCloneContext.cs
  src/AsmResolver.DotNet/Cloning/MemberCloner.cs
Labels: enhancement, dotnet

#284 Support PEFile EOF Data
  src/AsmResolver.PE.File/IPEFile.cs
  src/AsmResolver.PE.File/PEFile.cs
  src/AsmResolver.PE.File/SerializedPEFile.cs
  test/AsmResolver.PE.File.Tests/PEFileTest.cs
  test/AsmResolver.PE.File.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.PE.File.Tests/Properties/Resources.resx
  test/AsmResolver.PE.File.Tests/Resources/HelloWorld.EOF.exe
Labels: enhancement, pe-file
