Repository Washi1337/AsmResolver, pull requests merged in 2022-05, with the labels that each got.

#306 Module Default Importer
  docs/dotnet/importing.rst
  src/AsmResolver.DotNet/AssemblyDescriptor.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
Labels: enhancement, dotnet

#308 Issue/307 bad field import by reflection
  src/AsmResolver.DotNet/ReferenceImporter.cs
  src/AsmResolver.DotNet/Signatures/FieldSignature.cs
  src/AsmResolver.DotNet/Signatures/MemberSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignature.cs
  test/AsmResolver.DotNet.Tests/ReferenceImporterTest.cs
Labels: bug, dotnet

#312 Feature/fluent references
  docs/dotnet/importing.rst
  docs/dotnet/methods.rst
  src/AsmResolver.DotNet/AssemblyDefinition.cs
  src/AsmResolver.DotNet/AssemblyDescriptor.cs
  src/AsmResolver.DotNet/AssemblyReference.cs
  src/AsmResolver.DotNet/EventDefinition.cs
  src/AsmResolver.DotNet/ExportedType.cs
  src/AsmResolver.DotNet/FieldDefinition.cs
  src/AsmResolver.DotNet/FileReference.cs
  src/AsmResolver.DotNet/FullNameGenerator.cs
  src/AsmResolver.DotNet/IImportable.cs
  src/AsmResolver.DotNet/ITypeDefOrRef.cs
  src/AsmResolver.DotNet/InvalidTypeDefOrRef.cs
  src/AsmResolver.DotNet/MemberReference.cs
  src/AsmResolver.DotNet/MethodDefinition.cs
  src/AsmResolver.DotNet/MethodSpecification.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/ModuleReference.cs
  src/AsmResolver.DotNet/PropertyDefinition.cs
  src/AsmResolver.DotNet/ReferenceImporter.cs
  src/AsmResolver.DotNet/ReflectionAssemblyDescriptor.cs
  src/AsmResolver.DotNet/Signatures/CallingConventionSignature.cs
  src/AsmResolver.DotNet/Signatures/FieldSignature.cs
  src/AsmResolver.DotNet/Signatures/GenericInstanceMethodSignature.cs
  src/AsmResolver.DotNet/Signatures/LocalVariablesSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignature.cs
  src/AsmResolver.DotNet/Signatures/PropertySignature.cs
  src/AsmResolver.DotNet/Signatures/Types/TypeSignature.cs
  src/AsmResolver.DotNet/TypeDefinition.cs
  src/AsmResolver.DotNet/TypeDescriptorExtensions.cs
  src/AsmResolver.DotNet/TypeReference.cs
  src/AsmResolver.DotNet/TypeSpecification.cs
  test/AsmResolver.DotNet.Tests/ReferenceImporterTest.cs
  test/AsmResolver.DotNet.Tests/Signatures/MethodSignatureTest.cs
Labels: enhancement, dotnet

#319 Update SignatureComparer.TypeDefOrRef.cs
  src/AsmResolver.DotNet/Signatures/SignatureComparer.ResolutionScope.cs
  src/AsmResolver.DotNet/Signatures/SignatureComparer.TypeDefOrRef.cs
  test/AsmResolver.DotNet.Tests/Signatures/SignatureComparerTest.cs
Labels: bug, dotnet

#317 Rentable BinaryStreamWriters that write to temporary MemoryStream
  src/AsmResolver.DotNet/Builder/Metadata/Blob/BlobStreamBuffer.cs
  src/AsmResolver.DotNet/Code/Cil/CilMethodBodySerializer.cs
  src/AsmResolver/IO/BinaryStreamWriter.cs
  src/AsmResolver/IO/MemoryStreamWriterPool.cs
  test/AsmResolver.Tests/IO/MemoryStreamReaderPoolTest.cs
Labels: enhancement, performance

#316 Add and use collection Capacity properties
  src/AsmResolver.DotNet/Builder/DotNetDirectoryBuffer.MemberTree.cs
  src/AsmResolver.DotNet/Builder/Metadata/Tables/DistinctMetadataTableBuffer.cs
  src/AsmResolver.DotNet/Builder/Metadata/Tables/IMetadataTableBuffer.cs
  src/AsmResolver.DotNet/Builder/Metadata/Tables/UnsortedMetadataTableBuffer.cs
  src/AsmResolver.DotNet/Collections/MethodSemanticsCollection.cs
  src/AsmResolver.DotNet/Serialized/SerializedGenericParameter.cs
  src/AsmResolver.DotNet/Serialized/SerializedMethodDefinition.cs
  src/AsmResolver.DotNet/Serialized/SerializedModuleDefinition.Metadata.cs
  src/AsmResolver.DotNet/Serialized/SerializedModuleDefinition.cs
  src/AsmResolver.DotNet/Serialized/SerializedPropertyDefinition.cs
  src/AsmResolver.DotNet/Serialized/SerializedTypeDefinition.cs
  src/AsmResolver.DotNet/Signatures/CustomAttributeSignature.cs
  src/AsmResolver.DotNet/Signatures/GenericInstanceMethodSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignature.cs
  src/AsmResolver.DotNet/Signatures/MethodSignatureBase.cs
  src/AsmResolver.DotNet/Signatures/Types/ArrayTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/FunctionPointerTypeSignature.cs
  src/AsmResolver.DotNet/Signatures/Types/GenericInstanceTypeSignature.cs
  src/AsmResolver.PE/DotNet/Metadata/Tables/MetadataTable.cs
  src/AsmResolver/Collections/LazyList.cs
  src/AsmResolver/Collections/OneToManyRelation.cs
  src/AsmResolver/Collections/OneToOneRelation.cs
  src/AsmResolver/Collections/OwnedCollection.cs
  src/AsmResolver/Collections/RefList.cs
  test/AsmResolver.Tests/Collections/RefListTest.cs
Labels: enhancement, performance
