Repository Washi1337/AsmResolver, pull requests merged in 2022-04, with the labels that each got.

#286 [Feature]: Add a SetSemanticMethods method to PropertyDefinition and EventDefinition
  src/AsmResolver.DotNet/EventDefinition.cs
  src/AsmResolver.DotNet/PropertyDefinition.cs
Labels: enhancement, dotnet

#279 .NET Bundle Manifests (AppHost / SingleFileHost)
  docs/dotnet/bundles.rst
  docs/index.rst
  src/AsmResolver.DotNet/Bundles/BundleFile.cs
  src/AsmResolver.DotNet/Bundles/BundleFileType.cs
  src/AsmResolver.DotNet/Bundles/BundleManifest.cs
  src/AsmResolver.DotNet/Bundles/BundleManifestFlags.cs
  src/AsmResolver.DotNet/Bundles/BundlerParameters.cs
  src/AsmResolver.DotNet/Bundles/SerializedBundleFile.cs
  src/AsmResolver.DotNet/Bundles/SerializedBundleManifest.cs
  test/AsmResolver.Benchmarks/DotNetBundleBenchmark.cs
  test/AsmResolver.Benchmarks/Properties/Resources.Designer.cs
  test/AsmResolver.Benchmarks/Properties/Resources.resx
  test/AsmResolver.Benchmarks/Resources/HelloWorld.SingleFile.v6.exe
  test/AsmResolver.DotNet.Tests/AsmResolver.DotNet.Tests.csproj
  test/AsmResolver.DotNet.Tests/Bundles/BundleFileTest.cs
  test/AsmResolver.DotNet.Tests/Bundles/BundleManifestTest.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.resx
  test/AsmResolver.DotNet.Tests/Resources/HelloWorld.SingleFile.v1.exe
  test/AsmResolver.DotNet.Tests/Resources/HelloWorld.SingleFile.v2.exe
  test/AsmResolver.DotNet.Tests/Resources/HelloWorld.SingleFile.v6.WithResources.exe
  test/AsmResolver.DotNet.Tests/Resources/HelloWorld.SingleFile.v6.exe
  test/AsmResolver.Tests/Runners/PERunner.cs
Labels: enhancement, dotnet

#287 [Feature]: Allow .NET 6 assembly trimming for PE.File, PE and Win32Resources
  src/AsmResolver.DotNet/Code/Cil/CilMethodBody.cs
  src/AsmResolver.DotNet/Config/Json/RuntimeConfiguration.cs
  src/AsmResolver.DotNet/Config/Json/RuntimeConfigurationSerializerContext.cs
  src/AsmResolver.DotNet/DynamicMethodDefinition.cs
  src/AsmResolver.DotNet/DynamicMethodHelper.cs
  src/AsmResolver.DotNet/RequiresUnreferencedCodeAttribute.cs
  src/AsmResolver.PE.File/AsmResolver.PE.File.csproj
  src/AsmResolver.PE.Win32Resources/AsmResolver.PE.Win32Resources.csproj
  src/AsmResolver.PE/AsmResolver.PE.csproj
  src/AsmResolver/AsmResolver.csproj
  test/AsmResolver.PE.Tests/DotNet/Metadata/UserStringsStreamTest.cs
Labels: enhancement

#300 Fix Race Condition in LazyRidListRelation::EnsureIsInitialized and ::Initialize
  src/AsmResolver.DotNet/Collections/LazyRidListRelation.cs
  src/AsmResolver.DotNet/Serialized/SerializedModuleDefinition.cs
  src/AsmResolver.PE/DotNet/Metadata/Tables/TablesStream.cs
Labels: bug, dotnet
