Repository Washi1337/AsmResolver, pull requests merged in 2022-02, with the labels that each got.

#254 Deprecate FieldSignature.CreateXXX Factory methods
  src/AsmResolver.DotNet/Builder/Discovery/MemberDiscoverer.cs
  src/AsmResolver.DotNet/FieldDefinition.cs
  src/AsmResolver.DotNet/Signatures/FieldSignature.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenMappingTest.cs
  test/AsmResolver.DotNet.Tests/Builder/TokenPreservation/FieldTokenPreservationTest.cs
  test/AsmResolver.DotNet.Tests/FieldDefinitionTest.cs
  test/AsmResolver.DotNet.Tests/MetadataResolverTest.cs
  test/AsmResolver.DotNet.Tests/ReferenceImporterTest.cs
  test/AsmResolver.DotNet.Tests/Signatures/GenericContextTest.cs
  test/AsmResolver.DotNet.Tests/TokenAllocatorTest.cs
Labels: enhancement, dotnet

#239 Feature/add documentation for generic instance methods
  docs/dotnet/methods.rst
  docs/index.rst
Labels: docs

#255 Unresolved method bodies
  src/AsmResolver.DotNet/Code/MethodBody.cs
  src/AsmResolver.DotNet/Code/UnresolvedMethodBody.cs
  src/AsmResolver.DotNet/Serialized/DefaultMethodBodyReader.cs
  test/AsmResolver.DotNet.Tests/Code/Native/NativeMethodBodyTest.cs
Labels: bug, enhancement, dotnet

#256 Feature/Add .NET 7 to KnownCorLibs
  src/AsmResolver.DotNet/KnownCorLibs.cs
Labels: enhancement, dotnet
