Repository Washi1337/AsmResolver, pull requests merged in 2023-01, with the labels that each got.

#396 Implement .NET Framework / .NET Core differences for GetModuleType
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/Serialized/SerializedModuleDefinition.cs
  src/AsmResolver.DotNet/TypeDefinition.cs
  test/AsmResolver.DotNet.Tests/ModuleDefinitionTest.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.DotNet.Tests/Properties/Resources.resx
  test/AsmResolver.DotNet.Tests/Resources/ModuleCctorAbsentNet6.dll
  test/AsmResolver.DotNet.Tests/Resources/ModuleCctorLookalikeNet6.dll
  test/AsmResolver.DotNet.Tests/Resources/ModuleCctorNet6.dll
  test/AsmResolver.DotNet.Tests/Resources/ModuleCctorNetFramework.exe
Labels: bug, dotnet

#402 Generic TryLookupMember overloads
  src/AsmResolver.DotNet/ModuleDefinition.cs
  test/AsmResolver.DotNet.Tests/ModuleDefinitionTest.cs
Labels: enhancement, dotnet

#401 Support Generic Custom Attributes
  src/AsmResolver.DotNet/Signatures/CustomAttributeSignature.cs
  src/AsmResolver.DotNet/Signatures/Security/SecurityAttribute.cs
  src/AsmResolver.DotNet/Signatures/SerializedCustomAttributeSignature.cs
  test/AsmResolver.DotNet.Tests/CustomAttributeTest.cs
  test/TestBinaries/DotNet/AsmResolver.DotNet.TestCases.CustomAttributes/AsmResolver.DotNet.TestCases.CustomAttributes.csproj
  test/TestBinaries/DotNet/AsmResolver.DotNet.TestCases.CustomAttributes/CustomAttributesTestClass.cs
  test/TestBinaries/DotNet/AsmResolver.DotNet.TestCases.CustomAttributes/TestCaseAttribute.Generic.cs
Labels: bug, dotnet

#400 delimeter -> delimiter
  src/AsmResolver/IO/BinaryStreamReader.cs
Labels: docs

#398 Use preferred notation for bits
  src/AsmResolver/IO/BinaryStreamReader.cs
Labels: docs

#406 Metadata stream preservation
  docs/dotnet/advanced-pe-image-building.rst
  src/AsmResolver.DotNet/Builder/DotNetDirectoryFactory.cs
  src/AsmResolver.DotNet/Builder/MetadataBuilderFlags.cs
  src/AsmResolver.DotNet/Serialized/ModuleReaderContext.cs
  test/AsmResolver.DotNet.Tests/Builder/ManagedPEImageBuilderTest.cs
Labels: enhancement, dotnet

#405 Fluent Patching API
  docs/index.rst
  docs/pefile/sections.rst
  docs/peimage/pe-building.rst
  docs/segments.rst
  src/AsmResolver.DotNet/Code/Native/NativeMethodBodySerializer.cs
  src/AsmResolver.PE/Code/AddressFixup.cs
  src/AsmResolver.PE/Code/AddressFixupExtensions.cs
  src/AsmResolver.PE/Code/AddressFixupPatch.cs
  src/AsmResolver.PE/Code/AddressFixupType.cs
  src/AsmResolver.PE/Code/CodeSegment.cs
  src/AsmResolver.PE/Platforms/Amd64Platform.cs
  src/AsmResolver.PE/Platforms/I386Platform.cs
  src/AsmResolver/IReadableSegment.cs
  src/AsmResolver/ISegment.cs
  src/AsmResolver/Patching/BytesPatch.cs
  src/AsmResolver/Patching/IPatch.cs
  src/AsmResolver/Patching/PatchContext.cs
  src/AsmResolver/Patching/PatchedSegment.cs
  test/AsmResolver.DotNet.Tests/Code/Native/NativeMethodBodyTest.cs
  test/AsmResolver.PE.Tests/Code/AddressFixupTest.cs
  test/AsmResolver.PE.Tests/DotNet/Builder/MixedModeAssemblyTest.cs
  test/AsmResolver.Tests/Patching/PatchedSegmentTest.cs
Labels: enhancement, pe-file, pe

#407 Add CA parameter count validation
  src/AsmResolver.DotNet/Builder/DotNetDirectoryBuffer.CodedIndices.cs
  src/AsmResolver.DotNet/Signatures/CustomAttributeSignature.cs
  src/AsmResolver.DotNet/Signatures/SerializedCustomAttributeSignature.cs
  test/AsmResolver.DotNet.Tests/CustomAttributeTest.cs
Labels: enhancement, dotnet
