Repository Washi1337/AsmResolver, pull requests merged in 2025-10, with the labels that each got.

#679 Fix macro expansion
  src/AsmResolver.DotNet/Code/Cil/CilInstructionCollection.cs
Labels: bug, dotnet

#677 Insert parameter definitions sequentially
  src/AsmResolver.DotNet/Collections/ParameterCollection.cs
  test/AsmResolver.DotNet.Tests/Collections/ParameterCollectionTest.cs
Labels: bug, dotnet

#675 Add constructor overload for ExportedType
  src/AsmResolver.DotNet/ExportedType.cs
Labels: enhancement, dotnet

#672 Avoid unnecessary decoding of instructions and exception handlers
  src/AsmResolver.DotNet/Code/Cil/CilExceptionHandler.cs
  src/AsmResolver.DotNet/Code/Cil/CilMethodBody.cs
  src/AsmResolver.DotNet/Code/Cil/CilMethodBodySerializer.cs
  src/AsmResolver.DotNet/Code/Cil/SerializedCilMethodBody.cs
  src/AsmResolver.PE/DotNet/Cil/FastCilReassembler.cs
  test/AsmResolver.Benchmarks/ModuleReadWriteBenchmark.cs
  test/AsmResolver.DotNet.Tests/Code/Cil/CilMethodBodyTest.cs
  test/AsmResolver.PE.Tests/DotNet/Cil/FastCilReassemblerTest.cs
  test/TestBinaries/DotNet/AsmResolver.DotNet.TestCases.Methods/MethodBodyTypes.cs
Labels: enhancement, dotnet, performance
