Repository Washi1337/AsmResolver, pull requests merged in 2025-06, with the labels that each got.

#633 Add more `Utf8String` overloads.
  src/AsmResolver.DotNet/HasCustomAttributeExtensions.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/TypeDescriptorExtensions.cs
Labels: enhancement, dotnet

#631 Fix AOT warnings
  src/AsmResolver.DotNet/DotNetCorePathProvider.cs
  src/AsmResolver.DotNet/ModuleDefinition.cs
  src/AsmResolver.DotNet/ReflectionHacks.cs
  src/Directory.Build.props
Labels: enhancement, dotnet

#651 SystemPrivateCoreLib v10
  src/AsmResolver.DotNet/KnownCorLibs.cs
Labels: enhancement, dotnet

#643 Add Arm64Platform
  docs/guides/peimage/exceptions.md
  src/AsmResolver.PE.File/MachineType.cs
  src/AsmResolver.PE.File/PESegmentReference.cs
  src/AsmResolver.PE/Builder/ManagedPEFileBuilder.cs
  src/AsmResolver.PE/Builder/TrampolineTableBuffer.cs
  src/AsmResolver.PE/Builder/UnmanagedPEFileBuilder.cs
  src/AsmResolver.PE/Exceptions/Arm64EpilogScope.cs
  src/AsmResolver.PE/Exceptions/Arm64ExceptionDirectory.cs
  src/AsmResolver.PE/Exceptions/Arm64PackedUnwindInfo.cs
  src/AsmResolver.PE/Exceptions/Arm64PackedUnwindInfoCR.cs
  src/AsmResolver.PE/Exceptions/Arm64RuntimeFunction.cs
  src/AsmResolver.PE/Exceptions/Arm64UnpackedUnwindInfo.cs
  src/AsmResolver.PE/Exceptions/ExceptionDirectory.cs
  src/AsmResolver.PE/Exceptions/IArm64UnwindInfo.cs
  src/AsmResolver.PE/Exceptions/IExceptionDirectory.cs
  src/AsmResolver.PE/Exceptions/IRuntimeFunction.cs
  src/AsmResolver.PE/Exceptions/IUnwindInfo.cs
  src/AsmResolver.PE/Exceptions/X64ExceptionDirectory.cs
  src/AsmResolver.PE/Exceptions/X64RuntimeFunction.cs
  src/AsmResolver.PE/Exceptions/X64UnwindInfo.cs
  src/AsmResolver.PE/Extensions.cs
  src/AsmResolver.PE/Platforms/Amd64Platform.cs
  src/AsmResolver.PE/Platforms/Arm64Platform.cs
  src/AsmResolver.PE/Platforms/I386Platform.cs
  src/AsmResolver.PE/Platforms/Platform.cs
  src/AsmResolver.PE/SerializedPEImage.cs
  src/AsmResolver/RelativeReference.cs
  test/AsmResolver.DotNet.Tests/Bundles/BundleManifestTest.cs
  test/AsmResolver.PE.Tests/Builder/ManagedPEFileBuilderTest.cs
  test/AsmResolver.PE.Tests/Builder/MixedModeAssemblyTest.cs
  test/AsmResolver.PE.Tests/Builder/UnmanagedPEFileBuilderTest.cs
  test/AsmResolver.PE.Tests/Exceptions/Arm64ExceptionDirectoryTest.cs
  test/AsmResolver.PE.Tests/Exceptions/X64ExceptionDirectoryTest.cs
  test/AsmResolver.PE.Tests/Platforms/Arm64PlatformTest.cs
  test/AsmResolver.PE.Tests/Properties/Resources.Designer.cs
  test/AsmResolver.PE.Tests/Properties/Resources.resx
  test/AsmResolver.PE.Tests/Resources/HelloWorld.Arm64.exe
  test/AsmResolver.PE.Tests/Resources/MixedModeHelloWorld.Arm64.exe
  test/AsmResolver.PE.Tests/Resources/MixedModeHelloWorld.x64.exe
  test/AsmResolver.PE.Tests/Resources/NativeHelloWorldC.Arm64.exe
  test/AsmResolver.PE.Tests/Resources/NativeHelloWorldCpp.Arm64.exe
  test/AsmResolver.Tests/AsmResolver.Tests.csproj
  test/AsmResolver.Tests/Runners/PERunner.cs
  test/AsmResolver.Tests/XunitHelpers.cs
Labels: enhancement, pe

#650 Fix Utf8String concatenation for non-ascii strings
  src/AsmResolver/Utf8String.cs
  test/AsmResolver.Tests/Utf8StringTest.cs
Labels: bug

#653 Add GenericPlatform and Arm32Platform
  src/AsmResolver.DotNet/Builder/DotNetDirectoryBuffer.cs
  src/AsmResolver.PE.File/MachineType.cs
  src/AsmResolver.PE/Builder/PEFileBuilderContext.cs
  src/AsmResolver.PE/Code/AddressFixupPatch.cs
  src/AsmResolver.PE/Code/CodeSegment.cs
  src/AsmResolver.PE/PEReaderContext.cs
  src/AsmResolver.PE/Platforms/Amd64Platform.cs
  src/AsmResolver.PE/Platforms/Arm32Platform.cs
  src/AsmResolver.PE/Platforms/Arm64Platform.cs
  src/AsmResolver.PE/Platforms/GenericPlatform.cs
  src/AsmResolver.PE/Platforms/I386Platform.cs
  src/AsmResolver.PE/Platforms/Platform.cs
  src/AsmResolver/Patching/BytesPatch.cs
  src/AsmResolver/Patching/PatchContext.cs
  src/AsmResolver/Patching/PatchedSegment.cs
  src/AsmResolver/Patching/SegmentPatch.cs
  test/AsmResolver.PE.Tests/Platforms/Amd64PlatformTest.cs
  test/AsmResolver.PE.Tests/Platforms/Arm32PlatformTest.cs
  test/AsmResolver.PE.Tests/Platforms/I386PlatformTest.cs
  test/AsmResolver.PE.Tests/Resources/HelloWorld.Arm64.exe
  test/AsmResolver.PE.Tests/Resources/UnmanagedExports.x64.dll
  test/AsmResolver.Tests/Patching/PatchedSegmentTest.cs
Labels: bug, enhancement, pe
