Repository Washi1337/AsmResolver, pull requests merged in 2025-03, with the labels that each got.

#616 Delay creation of signature until end in TypeNameParser
  .github/workflows/test-and-publish.yml
  AsmResolver.sln
  Directory.Build.props
  src/AsmResolver.DotNet/Signatures/Parsing/ParsedTypeFullName.cs
  src/AsmResolver.DotNet/Signatures/Parsing/TypeAnnotation.cs
  src/AsmResolver.DotNet/Signatures/Parsing/TypeAnnotationType.cs
  src/AsmResolver.DotNet/Signatures/Parsing/TypeName.cs
  src/AsmResolver.DotNet/Signatures/Parsing/TypeNameParser.cs
  src/Directory.Build.props
  test/AsmResolver.DotNet.Tests/CustomAttributeTest.cs
  test/AsmResolver.DotNet.Tests/Signatures/TypeNameParserTest.cs
  test/TestBinaries/DotNet/Directory.Build.props
Labels: bug, dotnet

#617 Use public API to get type from address where available.
  src/AsmResolver.DotNet.Dynamic/DynamicTypeSignatureReader.cs
Labels: enhancement, dotnet

#621 Fix CorLib module self-reference
  src/AsmResolver.DotNet/ModuleDefinition.cs
  test/AsmResolver.DotNet.Tests/ModuleDefinitionTest.cs
Labels: dotnet
